In [1]:
import pandas as pd 
MD= pd.read_csv("MergeFinal_1.csv")

MD['Player1']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_1']
MD['Player2']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_2']
MD['Player3']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_3']
MD['Player4']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_4']
MD['Player5']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_5']
MD['Player6']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_6']
MD['Player7']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_7']
MD['Player8']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_8']
MD['Player9']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_9']
MD['Player10']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_10']
MD['Player11']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_11']
MD['Player12']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_12']
MD['Player13']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_13']
MD['Player14']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_14']
MD['Player15']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_15']
MD['Player16']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_16']
MD['Player17']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_17']
MD['Player18']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_18']
MD['Player19']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_19']
MD['Player20']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_20']
MD['Player21']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_21']
MD['Player22']=4*MD['4s_1']+ 6*MD['6s_1']+MD['Bat_Runs_22']



#Strike Rate
MD['Player1_StrikeRate']=(MD['Player1']/MD['Ball Faced_1']*100)
MD['Player2_StrikeRate']=(MD['Player1']/MD['Ball Faced_2']*100)
MD['Player3_StrikeRate']=(MD['Player1']/MD['Ball Faced_3']*100)
MD['Player4_StrikeRate']=(MD['Player1']/MD['Ball Faced_4']*100)
MD['Player5_StrikeRate']=(MD['Player1']/MD['Ball Faced_4']*100)
MD['Player6_StrikeRate']=(MD['Player1']/MD['Ball Faced_6']*100)
MD['Player7_StrikeRate']=(MD['Player1']/MD['Ball Faced_7']*100)
MD['Player8_StrikeRate']=(MD['Player1']/MD['Ball Faced_8']*100)
MD['Player9_StrikeRate']=(MD['Player1']/MD['Ball Faced_9']*100)
MD['Player10_StrikeRate']=(MD['Player1']/MD['Ball Faced_10']*100)
MD['Player11_StrikeRate']=(MD['Player1']/MD['Ball Faced_11']*100)
MD['Player12_StrikeRate']=(MD['Player1']/MD['Ball Faced_12']*100)
MD['Player13_StrikeRate']=(MD['Player1']/MD['Ball Faced_13']*100)
MD['Player14_StrikeRate']=(MD['Player1']/MD['Ball Faced_14']*100)
MD['Player15_StrikeRate']=(MD['Player1']/MD['Ball Faced_15']*100)
MD['Player16_StrikeRate']=(MD['Player1']/MD['Ball Faced_16']*100)
MD['Player17_StrikeRate']=(MD['Player1']/MD['Ball Faced_17']*100)
MD['Player18_StrikeRate']=(MD['Player1']/MD['Ball Faced_18']*100)
MD['Player19_StrikeRate']=(MD['Player1']/MD['Ball Faced_19']*100)
MD['Player20_StrikeRate']=(MD['Player1']/MD['Ball Faced_20']*100)
MD['Player21_StrikeRate']=(MD['Player1']/MD['Ball Faced_21']*100)
MD['Player22_StrikeRate']=(MD['Player1']/MD['Ball Faced_22']*100)

MD.head()

,Team1,Team2,Toss_winner,Toss_decision,Player_of_match,Winner_runs,Winner_wickets,Matchid,Players_1,Bat_Runs_1,...,Player13,Player14,Player15,Player16,Player17,Player18,Player19,Player20,Player21,Player22
0,Australia,Pakistan,Australia,bat,MS Wade,92,0,1004261,G Malla,11,...,14,45,14,12,8,8,8,8,8,8
1,Australia,Pakistan,Australia,bat,Mohammad Hafeez,0,6,1004269,C Carter,41,...,61,30,22,39,22,35,23,22,33,23
2,Australia,Pakistan,Australia,field,SPD Smith,0,7,1004283,KJ Coetzer,53,...,48,62,68,38,43,36,36,36,36,36
3,Australia,Pakistan,Australia,bat,DA Warner,86,0,1004285,KJ Coetzer,48,...,69,100,84,57,51,48,52,64,58,44
4,Australia,Pakistan,Australia,bat,DA Warner,57,0,1007649,PJ Moor,3,...,7,62,0,0,0,0,0,0,0,0